body { background: #ee39af; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 31px; display: flex; }
.block-invoice-0 { color: #24607c; font-size: 17px; margin-bottom: 5px; }
.block-helper-1 { color: #b186a0; font-size: 19px; margin-bottom: 5px; }
.block-database-2 { color: #99ad1e; font-size: 21px; margin-bottom: 5px; }
.block-invoice-3 { color: #922dbd; font-size: 21px; margin-bottom: 5px; }
.block-cluster-4 { color: #ea53ea; font-size: 19px; margin-bottom: 5px; }